.Today {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.Today header {
    font-size: 15px;
    padding: 0px 20px;
    z-index: 10;
    margin: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(117, 202, 199);
    height: 80px;
    color: rgb(14, 73, 78);
    align-items: center;
}

.Today main {
    padding-top: 90px;
    padding-bottom: 500px;
    margin: 0 0;
    background-color: #f4f4f4;
}

.Today .container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: #fff;
    padding: 5px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.Today .appointment {
    padding-bottom: 45px;
}

.checkbox-wrapper-31:hover .check {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-31 {
    position: relative;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 5px;
    min-width: 35px;
    min-height: 35px;
}

.checkbox-wrapper-31 .background {
    fill: #ccc;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .check {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
    -webkit-appearance: none;
}

.checkbox-wrapper-31 input[type=checkbox]:hover {
    cursor: pointer;
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .background {
    fill: #6cbe45;
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .stroke {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .check {
    stroke-dashoffset: 0;
}

.Today .changing-box {
    margin:20px 50px;
    padding: 0;
    margin-bottom: 0;
}

.Today .CancelAndSubmit {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.Today .button {
    margin: 5px;
    font-size: 12px;
    padding: 7px 14px;
    border-radius: 40px;
    cursor: pointer;
    max-width: 100px;
}

.Today #cancel {
    background-color: rgb(255, 255, 255);
    border: solid rgb(179, 179, 179);
    color: rgb(179, 179, 179);
    transition: .3s;
}

.Today #cancel:hover {
    background-color: rgb(179, 179, 179);
    color: white;
}

.Today #submit {
    background-color: rgb(255, 255, 255);
    border: solid rgb(117, 202, 199);
    color: rgb(117, 202, 199);
}

.Today #submit:hover {
    background-color: rgb(117, 202, 199);
    color: white;
    transition: .3s;
}

.Today .navigate i {
    transition: all .2s ease-in-out;
    color: rgb(88, 75, 65);
}

.Today .navigate i:hover {
    transform: scale(1.15);
}

.Today .navigate {
    padding: 20px;
    overflow: hidden;
    background-color: rgb(251, 211, 141);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    z-index: 4;
}

@media screen and (min-width: 680px) {
    .Today .button {
            font-size: 15px;
            padding: 10px 25px;
            border-radius: 40px;
            cursor: pointer;
            max-width: 200px;
        }

    .Today .container {
        margin-bottom: 20px;
        margin-left: 120px;
        margin-right: 20px;
    }

    .Today .changing-box {
        margin-top: 20px;
        padding-left: 15%;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .Today .CancelAndSubmit {
        max-width: 300px;
        max-height: 60px;
        margin-top: 30px;
        margin-left: 0;
    }

    .checkbox-wrapper-31 {
        width: 50px;
        height: 50px;
    }

    .Today .navigate {
        top: 0px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 60px;
        z-index: 4;
    }

    .Today .navigate a:nth-child(1) {
        order: 1;
    }

    .Today .navigate a:nth-child(2) {
        margin-top: 70px;
    }

    .Today .navigate a {
        padding: 15px;
    }
}